#main{
    background-color: beige;
    margin:12% 10% 15% 10%;
    padding:10% 20%;
}



.myText{
    font-size:30px ;
    color: chocolate;
    text-decoration:  underline;
    font-style: italic;
    font-family: 'Special Elite', cursive;
}


#signIn{
    width: 900px;
    height: 400px;
    margin: 10%;
    background-color: cadetblue;

}



#myButton{
    display: block;
}

#anabaslik{
    margin-left: 20%;
    color: darkolivegreen;
    text-align: center;
}